# dependencies
node_modules/
.pnpm-debug.log*

# build outputs
.next/
out/
dist/
*.tsbuildinfo
next-env.d.ts

# turbo
.turbo/

# env
.env
.env*.local

# misc
.DS_Store
*.pem

# vercel
.vercel

db-data