PORT=4000
WEB_ORIGIN=http://localhost:3000
NODE_ENV=test
DB_HOST=localhost
DB_USER=user
DB_PASSWORD=supersecret
DB_NAME=glasspot_test
DB_PORT=5434
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}
DB_DATA_DIR=db-data-test
REFRESH_TOKEN_SECRET=supersecret
JWT_SECRET=supersecret
NOMBA_ENVIRONMENT=sandbox
NOMBA_CLIENT_ID=706
NOMBA_ACCOUNT_ID=f666e
NOMBA_WEBHOOK_SECRET=your_webhook_secret
REDIS_URL=redis://localhost:6391
REDIS_PORT=6391
BREVO_API_KEY=xkeysib_dz
MAIL_FROM=Glas
NOMBA_SUBACCOUNT_ID=3ed0f3e5
BULL_BOARD_ENABLED=true